{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <SCRIPT type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </SCRIPT>
    </HEAD>
    <BODY onload="noBack();" 
        onpageshow="if (event.persisted) noBack();" onunload="">
    <titile></titile>
    <style type="text/css">
            tr,td{
                padding: 6px;
                width: 200px;
                color: brown;
            }
    </style>
    <script type="text/javascript">
        $(function()
        {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + day.toString();
            
            var maxDate = year + '-' + month + '-' + day;
            $('#appointment_date').attr('min',maxDate);
        });
    </script>
</head>
<br><br><br>
<body onload="checkDate();">
    <!-- about section -->
	<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>Book Appointment</h2>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="{{doctor.doctor_image.url}}" alt="">
						</div>
						
							<div class="about-details">
								<div class="pentagon-text">
									<h1>{{doctor.specialist|slice:":1"}}</h1>
								</div>
                                <h3>{{doctor.specialist}}</h3>
                                <p style="color: white; text-align: left">
                                    Education&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.degree}}<br>
                                    Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.fname}} {{doctor.lname}}<br>
                                    Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.address}}<br>
                                    Visiting Hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.time_slot}}<br>
                                    Consulting Charge&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.consulting_charge}}</p>
                                    {% if request.session.email %}
										<input type="button" value="Doctor's Profile" class="btn btn-danger"
										style="padding: 20px 44px;font-size: 24px; width: 360px;" disabled="disabled">
									{% else %}
										<input type="button" value="Login To Book Appointment" class="btn btn-danger"
										style="padding: 20px 44px;font-size: 24px; width: 360px;" disabled="disabled">
									{% endif %}
                                
							</div>
					</div>
                </div>

                <!-- Patient Appointment Details -->
                <div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="{{doctor.doctor_image.url}}" alt="">
						</div>
						
							<div class="about-details">
								<div class="pentagon-text">
									<h1>P</h1>
								</div>
                                <h3>Patient Details</h3>
                                <p style="color: white; text-align: left">
                                    First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{patient.fname}}<br>
                                    Last Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{patient.lname}}<br>
                                    Mobile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{patient.mobile}}<br>
                                    Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{patient.email}}<br>
                                    Patient History&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{patient.patient_history}}</p>
                                    {% if request.session.email %}
										<input type="button" value="Patient Information" class="btn btn-danger"
										style="padding: 20px 44px;font-size: 24px; width: 360px;" disabled="disabled">
									{% else %}
										<input type="button" value="Login To Book Appointment" class="btn btn-danger"
										style="padding: 20px 44px;font-size: 24px; width: 360px;" disabled="disabled">
									{% endif %}
                                
							</div>
					</div>
                </div>

                <!--Booking Information-->
                <div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
                        <br><br><br><br><br><br><br><br><br>
                        <form name="book_appointment" method="post" action="{% url 'book_appointment' pk=doctor.pk %}"
                            class="about-details">
                            {% csrf_token %}
                            <table>                              
                                <tr>
                                    <td>Select Date</td>
                                    {% if appointment_date %}
                                        <td><input type="date" id="appointment_date" name="appointment_date" onchange="this.form.submit();"
                                        value="{{appointment_date}}"></td>
                                    {% else %}
                                        <td><input type="date" name="appointment_date" onchange="this.form.submit();"></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Time Slot</td>
                                    <td>
                                        <select name="appointment_time">
                                            <option>----Select Time Slot----</option>
                                            {% if l3 %}
                                                {% for i in l3 %}
                                                    <option value="{{i}}">{{i}}</option>>
                                                {% endfor %}
                                            {% else %}
                                                    <option value="">No Slots Available</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Symptoms</td>
                                    <td><textarea rows="5" cols="22" name="symptoms"></textarea></td>
                                </tr>
                                <tr>
                                    <td>Appointment Fees</td>
                                    <td><input type="text" name="consulting_charge" value="{{doctor.consulting_charge}}" readonly="readonly"></td>
                                </tr>
                            </table>
                            <tr>
                                <input type="submit" name="ba" value="Book Appointment" class="btn btn-danger"
                                    style="padding: 20px 44px;font-size: 24px; width: 360px;">
                            </tr>
                                
                        </form>                                
					</div>
                </div>
			</div>
		</div>
    </section><!-- end of about section -->
    <br>
    {% if msg %}
        <center><b style="color: green; font-size: 30px;">{{msg}}</b></center>
    {% endif %}
    <!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer-para">
					<p>&copy;Mostafizur All right reserved</p>
				</div>
				<div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
{% endblock %}