<!DOCTYPE html>
<html lang="en">
<head>
    <SCRIPT type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </SCRIPT>
    </HEAD>
    <BODY onload="noBack();" 
        onpageshow="if (event.persisted) noBack();" onunload="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <head>
        <title>Callback</title>
    </head>
    <body>
        <h2>Callback Messsage: </h2>                    <br>
        <h3> Checksum Verification: {{ message }} </h3> <br>
        MID: {{ MID }}                                  <br>
        TXNID: {{ TXNID }}                              <br>
        ORDERID: {{ ORDERID }}                          <br>
        BANKTXNID: {{ BANKTXNID }}                      <br>
        TXNAMOUNT: {{ TXNAMOUNT }}                      <br>
        CURRENCY: {{ CURRENCY }}                        <br>
        <h3> STATUS: {{ STATUS }} </h3>                 <br>
        RESPCODE: {{ RESPCODE }}                        <br>
        RESPMSG: {{ RESPMSG }}                          <br>
        TXNDATE: {{ TXNDATE }}                          <br>
        GATEWAYNAME: {{ GATEWAYNAME }}                  <br>
        BANKNAME: {{ BANKNAME }}                        <br>
        BIN_NAME: {{ BIN_NAME }}                        <br>
        PAYMENTMODE: {{ PAYMENTMODE }}                  <br>
        CHECKSUMHASH: {{ CHECKSUMHASH }}
    </body>
</body>
</html>