{% extends 'doctor_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <SCRIPT type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </SCRIPT>
</HEAD>

<BODY onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    </head>
    <br><br><br>

    <body>
        <!-- about section -->
        <section class="about text-center" id="about">
            <div class="container">
                <div class="row">
                    <h2>View Appointments</h2>
                    <h4>Hear you can find different type of doctors online</h4>
                    {% if appointment %}
                    <div class="col-md-4 col-sm-6" style="margin-bottom: 50px;">
                        <div class="single-about-detail clearfix">

                            <div class="about-details">
                                <div class="pentagon-text">
                                    <h1>CA</h1>
                                </div>
                                <h3>{{appointment.patient.fname}} {{appointment.patient.lname}}</h3>
                                <p>Date : {{appointment.appointment_date}}</p>
                                <p>Time : {{appointment.appointment_time}}</p>
                                <p>Status : {{appointment.status}}</p>
                                <form name="cancel_appointment" method="post" 
                                    action="{% url 'cancel_appointment' pk=appointment.pk %}">
                                {% csrf_token %}
                                <textarea rows="5" cols="52" name="reason_for_cancel"></textarea>
                                <a href="{% url 'cancel_appointment' pk=appointment.pk %}">                                    
                                    <input type="submit" value="Cancel Appointment" class="btn btn-danger"
                                        style="padding: 20px 44px;font-size: 24px; width: 360px;"></a>
                                </form>
                            </div>
                        </div>


                    </div>
                    {% endif %}
                </div>
            </div>
        </section><!-- end of about section -->

        <!-- footer starts here -->
        <footer class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 footer-para">
                        <p>&copy;Mostafizur All right reserved</p>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-skype"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
{% endblock %}