{% extends 'header.html' %}
{% load static %}
{% block content %}
<html>
    <body>
    <head>
        <style type ="text/css">
            table, td, th{
            padding: 5px;
        }  
    </style>
    </head>
    <br><br><br><br><br>
    <section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>New Password</h2>
			</div>
		</div>
	</section>
<center>
    <h3>
		{% if msg %}
			{{msg}}
		{% endif %}
	</h3>
        <font size="5px">
    <form name="new_password" method="post" action="{% url 'update_password' %}">
        {% csrf_token %}
        <table>
            
            <tr>
                <td><input type="hidden" name="email" value="{{email}}"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="password" class="from-control from-control-lg" required="required"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="cpassword" class="from-control from-control-lg" required="required"></td>
            </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Update Password" class="btn btn-primary"></td>
        </tr>
    </font>
        </table>
    </form>
</center>

<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- footer starts here -->
<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 footer-para">
                <p>&copy;Mostafizur All right reserved</p>
            </div>
            <div class="col-xs-6 text-right">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-skype"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
{% endblock %}